<aside class="px-1 py-2" id="aside">

  <!-- start top -->
  <div class="top">
    <div class="logo">
      <img src="/assets/images/logo.jpg" alt="" srcset="">
      <h5>Cocktail<span>FRESHNESS</span></h5>
    </div>
    <div class="close-menubar" id="closeMenuBar">
      <span class="material-symbols-outlined">
        close
      </span>
    </div>
  </div>
  <!-- end top -->
  <hr class="my-12">
  <!-- start sidebar -->
  <div class="sidebar d-flex flex-column position-relative">

    <a href="/admin" class="<%= currentPath === '/admin' ? 'active' : '' %>">

      <span class="material-symbols-outlined">
        dashboard
      </span>
      <h3>Bảng điều khiển</h3>
    </a>
    <a href="/admin/analysis" class="<%= currentPath.startsWith('/admin/analysis') ? 'active' : '' %>">
      <span class="material-symbols-outlined">
        monitoring
      </span>
      <h3>Phân tích</h3>
    </a>
    <a href="#" class="<%= currentPath.startsWith('/admin/person') ? 'active' : '' %>">
      <span class="material-symbols-outlined">
        person
      </span>
      <h3>Khách hàng</h3>
    </a>
    <a href="/admin/moderate" class="<%= currentPath.startsWith('/admin/moderate') ? 'active' : '' %>">
      <span class="material-symbols-outlined">
        fact_check
      </span>
      <h3>Phê duyệt</h3>
      <span class="msg_count">20</span>
    </a>
    <a href="/admin/settings" class="<%= currentPath.startsWith('/admin/settings') ? 'active' : '' %>">
      <span class="material-symbols-outlined">
        settings
      </span>
      <h3>Cài đặt</h3>
    </a>
    <a href="#" class="">
      <span class="material-symbols-outlined">
        logout
      </span>
      <h3>Đăng xuất</h3>
    </a>
  </div>
  <!-- start sidebar -->

</aside>